.top__level {
    /* margin-top: 2rem; */
    padding: 1rem 2rem;
    background-color: #f5f5f5;
    width: vw;
}

.login__false > h2 {
    text-align: center;
    font-family: "Libre Baskerville";
    font-size: 1.8em;
    background-color: whitesmoke;
}
.sample__notes {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 2rem;
}

.notes__card {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    max-width: 20rem;
    background-color: #fefae0;
    /* text-align: justify; */
}

.notes__card > span:first-child {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 1.5em;
    font-weight: 600;
}

.notes__card > span:nth-child(2) {
    text-align: justify;
}

.__buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.__buttons > button:first-child {
    all: unset;
    color: white;
    background-color: #6b8e23;
    border-radius: 5px;
    font-size: 0.9em;
    padding: 0.2rem;
}

.__buttons > button:nth-child(2) {
    all: unset;
    background-color: transparent;
    font-weight: 600;
    border: 2px solid black;
    font-size: 0.8em;
    padding: 0.2rem;
}